{% extends "registration_base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %} GustoMarket {% endblock %}

{% block content %}
<style>
  .prd-name h4, .prd-name p {
  white-space: nowrap;    
  overflow: hidden;       
  text-overflow: ellipsis; 
  max-width: 250px;      
}
.form-control{
  width: 70%;
}
.cart-dropdown {
    width: 60%; 
    max-width: 300px; 
    height: 30px; 
    text-align: center;
    padding: 5px; 
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #ccc;
  
  
  font-family: 'Arial', sans-serif;
  color: #6c757d;
  background-color: var(--c-bg-body);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: var(--b-radiuslg);
    
}
.cart-dropdown:focus {
  color: var(--c-heading-secondary);
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
  outline: none;
}

.cart-dropdown::placeholder {
  color:var(--c-text-secondary);
}
.datepicker{
  width: 70%; 
    max-width: 300px; 
    height: 30px; 
    text-align: center;
    padding: 5px; 
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #ccc;
  
  
  font-family: 'Arial', sans-serif;
  color: #6c757d;
  background-color: var(--c-bg-body);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: var(--b-radiuslg);
}
.datepicker:focus {
  color: var(--c-heading-secondary);
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
  outline: none;
}

.datepicker::placeholder {
  color:var(--c-text-secondary);
}



</style>
<div class="content-wrapper content-wrapper-bg footer-padding">
  <h1 class="page-title">Cart</h1>
  <!-- start inner body section -->
  <div class="page-content">
    <!-- start Products header section -->
    <div class="draft-prduct-top d-flex justify-content-between mb-sm-5 mb-4">
      <div class="draft-lft-sec d-flex gap-5">
        <div class="tab-heading">
          <h3>Products</h3>
        </div>
        <div class="serach-bar position-relative d-none d-sm-block">
          <input class="form-control search" type="search" placeholder="Search product" aria-label="Search">
          <label class="searchbutton" for="searchleft">
            <span class="mglass">
              <span class="search-icn">
                <img src="{% static 'img/search-icon.png' %}" alt="search">
              </span>
            </span>
          </label>
        </div>
      </div>
      <div class="draft-rgt-sec d-flex gap-3">
        <button type="button" class="list-btn active"><img src="{% static 'img/list-icon.png' %}" alt="list"></button>
        <button type="button" class="grid-btn"><img src="{% static 'img/grid-icon.png' %}" alt="grid"></button>
      </div>
    </div>
    <!-- start mobile-serch-secsection -->
    <div class="mobile-serch-sec d-sm-none">
      <div class="serach-bar position-relative">
        <input class="form-control search" type="search" placeholder="Search product" aria-label="Search">
        <label class="searchbutton" for="searchleft">
          <span class="mglass">
            <span class="search-icn">
              <img src="{% static 'img/search-icon.png' %}" alt="search">
            </span>
          </span>
        </label>
      </div>
    </div>
    <!-- End Products header section -->
    <div class="product-drat-table">
      {% for vendor, data in vendors.items %}
      <div class="data-table-sec show-panel mb-4">
        <table class="table" style="width: 100%">
          <thead>
            <tr>
              <th>
                {% if vendor.company.logo %}
                <img src="{{ vendor.company.logo.url }}" alt="avatar" style="height: 35px; widows: 35px;">
                {% endif %}
                <span>by</span><span style="font-size: large;"> {{ vendor.company.company_name }}</span>
                <img src="{% static 'img/star-icon.png' %}" alt="star"> <span>4.8 (87)</span>
              </th>
              <th>
                <h2>Expected Delivery</h2>
              </th>
              <th>
                <h2>Debit / Credit</h2>
              </th>
              <th>
                <h2>Transportation Fee</h2>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <label class="form-label">
                  Choose Location: 
              </label>
              <select class="cart-dropdown" name="location" id="loc">
                <option selected="selected">---Add a Location---</option>
            {% get_location_by_user request.user.id as locations %}
                {% for location in locations %}
                  <option>
                    {{location.location}}
                  </option>
                {% endfor %}  
              </select>
                <!-- <p>Purchase order ID: 392323932</p> -->
              </td>
              <!-- Jul 24, 2023 at 3:55 PM -->
              <td>
                <input type="datetime-local" class="datepicker" >
                <rb></rb>
                <span id="dateIds"></span></td>
              <td></td>

              <td id="delivery_fee-{{ vendor.id }}">${{ data.delivery_fee }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="data-table-sec show-panel mb-4">
        <table id="card-tables" class="table dt-responsive nowrap custom-table table-hover appendData"
          style="width: 100%">
          <thead>
            <tr>
              <th>Product</th>
              <th style="text-align: center; margin-left: 15px;">Quantity</th>
              <th>Sold Unit</th>
              <th>Unit Price</th>
              <th>Unit Pricing</th>
              <th style="margin-left: 5px;">Price</th>
              <th>Request Changes</th>
            </tr>
          </thead>
          <tbody>
            {% for cart_item_id, product, quantity, total_price in data.products %}
            <tr>
              <td>
                <div class="product-name-price d-flex align-items-center gap-4" style="width: 40%;">
                  <div class="prd-img">
                    {% with photo=product.productphoto_set.first %}
                    <img src="{{ photo.product_photo.url }}" alt="product list">
                    {% endwith %}
                  </div>
                  <div class="prd-name">
                    <h4 style="max-width: 250px;" >{{ product.product_title|slice:":100" }}{% if product.product_title|length > 50%}...{% endif %}</h4>
                    <p style="max-width: 250px;">{{ product.description|safe|slice:"100" }}{% if product.description|length > 100 %}...{% endif %}</p>
                    <p>${{ product.price_transport.amount }}</p>
                  </div>
                </div>
              </td>
              <!-- <td>{{ product.price_transport.stock_count }}</td> -->
              <td>
                <div class="qty-container d-flex align-items-center">
                  <button class="qty-btn-minus btn-primary btn-rounded mr-1" type="button"><i
                      class="bi bi-dash-lg"></i></button>
                  <input type="text" name="qty" value="{{ quantity }}" class="input-qty input-rounded" >
                  <input type="hidden" name="supplier_id" value="{{ vendor.id }}" class="vendorId">
                  <input type="hidden" name="cart_item_id" value="{{ cart_item_id }}" class="cartItemId">
                  <input type="hidden" name="product_id" value="{{ product.id }}" class="productId">
                  <button class="qty-btn-plus btn-primary btn-rounded ml-1" type="button"><i
                      class="bi bi-plus-lg"></i></button>
                </div>
              </td>
              
              <td style="text-align: center; margin-right: 1px;">{{ product.product_packaging.sku_sold }}
               
            </td>
            <td style="text-align: center;">${{ product.price_transport.amount }}</td>
            <td style="text-align: center;margin-right: 1px;">{{ product.product_packaging.sku_unit }}</td>
            
              
              <td id="total_price-{{ product.id }}"><span class="price-bg">${{ total_price }}</span></td>
              <td>
                <div class="edit-action-sec gap-4 d-flex">
                  <button type="button"><span><img src="{% static 'img/calendar-icon.png' %}" alt="calander"
                        data-bs-toggle="modal" data-bs-target="#calendar-prod-pop"></span></button>
                  <button type="button" class="delete-btn" data-bs-toggle="modal" data-bs-target="#proddelete-pop"
                    data-cart-item-id="{{ cart_item_id }}">
                    <span><img src="{% static 'img/delete-icon.png' %}" alt="delete"></span>
                  </button>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        
        {% if vendor %}
        
          <!-- Comments Section
          <div style="width: 30%; padding-right: 20px; margin-top: 20px;">
              <label for="comments" class="font-weight-bold mb-2" style="font-size: 14px; color: #555;"><strong>Comments</strong></label>
              <textarea id="comments" name="comments" rows="3" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px; resize: vertical;"></textarea>
          </div>

        <div class="card-price-sec d-flex align-items-end flex-column mt-2 margin-bottom:20%">
          <h3>Transportation and other costs</h3>
          <div class="amountprice-row d-flex py-2">
            <div class="amount-column cmn-ligt-font">
              <p class="mb-0">SubTotal:</p>
            </div>
            <div class="price-column cmn-blck-font" id="subtotal-{{ vendor.id }}">
              <b class="mb-0">${{ data.subtotal }}</b>
            </div>
          </div>
          <div class="amountprice-row d-flex py-2">
            <div class="amount-column cmn-ligt-font">
              <p class="mb-0">Discount:</p>
            </div>
            <div class="price-column cmn-blck-font" id="discount-{{ vendor.id }}">
              <b class="mb-0">${{ data.discount }}</b>
            </div>
          </div>
          <div class="amountprice-row d-flex py-2">
            <div class="amount-column cmn-ligt-font">
              <p class="mb-0">Tax:</p>
            </div>
            <div class="price-column cmn-blck-font"><b class="mb-0" id="tax-{{ vendor.id }}">${{ data.tax }}</b></div>
          </div>
          <div class="amountprice-row d-flex py-2">
            <div class="amount-column cmn-ligt-font">
              <p class="mb-0">Other:</p>
            </div>
            <div class="price-column cmn-blck-font" id="delivery_charge-{{ vendor.id }}">
              <b class="mb-0">${{ data.delivery_fee }}</b>
            </div>
          </div>
          <div class="amountprice-row d-flex py-2">
            <div class="amount-column cmn-ligt-font">
              <p class="mb-0">Total Price:</p>
            </div>
            <div class="price-column cmn-blck-font"><b class="mb-0" id="total-{{ vendor.id }}">${{ data.total }}</b>
            </div>
          </div>
        </div> -->
        <div class="d-flex justify-content-between mt-2" style="width: 100%; max-width: 100%;">
          <!-- Comments Section (Left Side) -->
          <div style="width: 25%; padding-right: 20px;">
              <label for="comments" class="form-label" style="font-size: 14px; color: #555;"><strong>Add a Comments</strong></label>
              <textarea id="comments" name="comments" rows="10" class="editor1-{{ sold_item.0.id }}" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px; resize: vertical;height: 70px; "></textarea>
          </div>
          
          
          <!-- Transportation and Other Costs Section (Right Side) -->
          <div class="card-price-sec d-flex align-items-end flex-column" style="width: 70%; padding-left: 20px;">
              <h3>Transportation and other costs</h3>
              <div class="amountprice-row d-flex justify-content-between py-2">
                  <div class="amount-column cmn-ligt-font">
                      <p class="mb-0">SubTotal:</p>
                  </div>
                  <div class="price-column cmn-blck-font" id="subtotal-{{ vendor.id }}">
                      <b class="mb-0">${{ data.subtotal }}</b>
                  </div>
              </div>
              <div class="amountprice-row d-flex justify-content-between py-2">
                  <div class="amount-column cmn-ligt-font">
                      <p class="mb-0">Discount:</p>
                  </div>
                  <div class="price-column cmn-blck-font" id="discount-{{ vendor.id }}">
                      <b class="mb-0">${{ data.discount }}</b>
                  </div>
              </div>
              <div class="amountprice-row d-flex justify-content-between py-2">
                  <div class="amount-column cmn-ligt-font">
                      <p class="mb-0">Tax:</p>
                  </div>
                  <div class="price-column cmn-blck-font">
                      <b class="mb-0" id="tax-{{ vendor.id }}">${{ data.tax }}</b>
                  </div>
              </div>
              <div class="amountprice-row d-flex justify-content-between py-2">
                  <div class="amount-column cmn-ligt-font">
                      <p class="mb-0">Other:</p>
                  </div>
                  <div class="price-column cmn-blck-font" id="delivery_charge-{{ vendor.id }}">
                      <b class="mb-0">${{ data.delivery_fee }}</b>
                  </div>
              </div>
              <div class="amountprice-row d-flex justify-content-between py-2">
                  <div class="amount-column cmn-ligt-font">
                      <p class="mb-0">Total Price:</p>
                  </div>
                  <div class="price-column cmn-blck-font" id="total-{{ vendor.id }}" >
                      <b class="mb-0">${{ data.total }}</b>
                  </div>
              </div>
          </div>
      </div>
      
          
        {% endif %}

      </div>
      {% endfor %}
      <div class="card-view-section">
        <div class="row">
          {% for cart_item in cart_items %}
          <div class="col-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 mb-lg-0 mb-4">
            <div class="card-custom position-relative">
              <div class="card-img-hover position-relative">
                <div class="crd-img">
                  {% with photo=cart_item.product.productphoto_set.first %}
                  <img src="{{ photo.product_photo.url }}" alt="product list">
                  {% endwith %}
                </div>
                <div class="edit-action-hover">
                  <div class="edit-action-sec gap-4 d-flex">
                    <button type="button"><span class="d-flex align-items-center justify-content-center"><img
                          src="{% static 'img/calendar-icon.png' %}" alt="calander"></span></button>
                    <button type="button" class="delete-btn" data-bs-toggle="modal" data-bs-target="#proddelete-pop"
                      data-cart-item-id="{{ cart_item.id }}">
                      <span><img src="{% static 'img/delete-icon.png' %}" alt="delete"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-4">
                  <h4 class="card-title">{{ cart_item.product.product_title }}</h4>
                  <!-- <p class="card-text">$1200.00</p> -->
                </div>
                <div class="price-crds d-flex justify-content-between align-items-center mb-4">
                  <label class="card-title">Price</label>
                  <span class="price-bg">${{ cart_item.product.price_transport.amount }}</span>
                </div>
                <div class="lastedit-crds d-flex justify-content-between align-items-center mb-4">
                  <label class="card-title">Expected Delivery</label>
                  <p>Jul 24, 2023 at 3:55 PM</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="hr-line-small my-5"></div>
    </div>
    <!-- End inner body section -->

  </div>
  <!-- product footer section -->
  <div class="footer-bottom flex-space">
    <div class="last-saved">
      <p>Order Summary: {{ product_count }} Products</p>
    </div>
    <div class="footer-rigt-sec d-flex gap-5">
      {% if cart_items %}
      <div class="total-picess align-items-center d-flex" id="grandTotal">
        <h3 class="mb-0">Total: ${{ grand_total }}</h3>
      </div>
      <div class="publish-now-btn">
        <button class="red-btn" id="search-button" onclick="window.location.href='{% url 'new_product' %}'">Marketplace</button>
        <button class="red-btn" id="checkout-button">Order (Stripe)</button>
        <button class="red-btn" id="cash-checkout-button">Order (Cash)</button>
      </div>
      {% endif %}
    </div>
  </div>
  <!-- End product footer section -->

  <!-- Modal pop add Products delete-->
  <div class="modal fade" id="proddelete-pop">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content custom-modal-pop">
        <div class="modal-header">
          <h5 class="modal-title">Products delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="custom-modal-inner text-center">
            <img src="{% static 'img/delate-img.png' %}" alt="delate">
            <p class="mt-5">Are you sure you want to delete the Products?</p>
          </div>
        </div>
        <div class="modal-footer gap-4">
          <button type="button" class="white-btn" data-bs-dismiss="modal"> Cancel</button>
          <a href="#" id="delete-cart-item" class="red-btn">Yes</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal pop Request a Change calendar-->
<div class="modal fade" id="calendar-prod-pop">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content custom-modal-pop">
      <div class="modal-header">
        <h5 class="modal-title">Request a Change</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-inner-sec">
          <div class="userimg-pop mb-5">
            <img src="{% static 'img/avatar.png' %}" alt="avatar">
          </div>
          <div class="would-request mb-4">
            <h3>What you would like to request?</h3>
          </div>
          <div class="img-vedio-sec-upload d-flex align-items-center gap-4">
            <div class="img-upload-sec position-relative">
              <div class="imgs-upload">
                <div id="imagePreview" style="background-image: url('{% static 'img/dumy-imgs.png' %}')"></div>
              </div>
              <div class="avatar-edit">
                <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg">
                <label for="imageUpload"><i class="bi bi-plus-lg"></i> </label>
              </div>
            </div>
            <div class="vedio-uploads">
              <div class="img-upload-sec position-relative">
                <div class="imgs-upload">
                  <div id="imagePreview1" style="background-image: url('{% static 'img/vedio-dummy.png' %}')"></div>
                </div>
                <div class="avatar-edit">
                  <input type="file" id="imageUpload1" accept=".png, .jpg, .jpeg">
                  <label for="imageUpload1"><i class="bi bi-plus-lg"></i> </label>
                </div>
              </div>
            </div>
          </div>

          <div class="hr-line-small mb-5 mt-4"></div>
          <div class="delivery-time mb-5">
            <p>Request a delivery data and time change.</p>
          </div>
          <div class="delivered-hour d-flex justify-content-between align-items-center">
            <div class="delivered-label">
              <p>Do you need it delivered in 12-24 hours? <i class="bi bi-exclamation-circle-fill"
                  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Tooltip on top"></i></p>
            </div>
            <div class="delivered-switch">
              <div class="cust-switch"> <label class="switch"><input type="checkbox" checked=""><span
                    class="slider round"></span> </label> </div>
            </div>
          </div>
          <div class="hr-line-small my-5"></div>
          <div class="datetimefiled-sec">
            <div class="datetime-filed position-relative mb-3">
              <label class="form-label">Date</label>
              <input type="date" class="form-control">
            </div>
            <div class="datetime-filed position-relative">
              <label class="form-label">Time</label>
              <input type="time" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer gap-4">
        <button type="button" class="red-btn">Send Request</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block tab %}



<script>


  
//     document.addEventListener('change', (e) => {
//     document.getElementById('dateIds').innerText = e.target.value;
// });
document.addEventListener('change', (e) => {
    const dateTime = e.target.value;
    const formattedDateTime = dateTime.replace("T", " "); // Replace T with space
    document.getElementById('dateId').innerText = formattedDateTime;
});

  $(document).ready(function () {
    document.querySelectorAll('.delete-btn').forEach(btn => {
      btn.addEventListener('click', function () {
        const cartItemId = this.getAttribute('data-cart-item-id');
        document.getElementById('delete-cart-item').href = `/delete-cart-item/${cartItemId}`;
      });
    });
  });
</script>

<script>
  $(document).ready(function () {
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          // Check if the cookie name matches the desired name
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    $('.qty-btn-minus, .qty-btn-plus, .input-qty').on('click input', function () {
      // Find the closest elements within the same table row
      var row = $(this).closest('tr');
      var cartItemId = parseInt(row.find('.cartItemId').val());
      var productId = parseInt(row.find('.productId').val());
      var supplierId = parseInt(row.find('.vendorId').val());
      var updatedQuantity = parseInt(row.find('.input-qty').val());
      var table = row.closest('table');

      if (updatedQuantity <= 0) {
        updatedQuantity = 0;  // Set to 0 if quantity is 0 or less
      }
      
      console.log(updatedQuantity);

      var cartItemCountSpan = $('#cart_item_count');

      $.ajax({
        type: 'POST',
        url: '/update-cart-quantity/' + cartItemId + '/',
        data: { 'quantity': updatedQuantity, 'supplier_id': supplierId, 'product_id': productId },
        dataType: 'json',
        headers: { 'X-CSRFToken': getCookie('csrftoken') },  // Include CSRF token
        success: function (data) {
          // Update the HTML elements with the new data
          document.querySelector(`#subtotal-${supplierId}`).innerHTML = `<b class="mb-0">$${data.subtotal}</b>`;
          document.querySelector(`#discount-${supplierId}`).innerHTML = `<b class="mb-0">$${data.discount}</b>`;
          document.querySelector(`#tax-${supplierId}`).innerHTML = `<b class="mb-0">$${data.tax}</b>`;
          document.querySelector(`#delivery_fee-${supplierId}`).innerHTML = `<td>$${data.delivery_fee}</td>`;
          document.querySelector(`#delivery_charge-${supplierId}`).innerHTML = `<b class="mb-0">$${data.delivery_fee}</b>`;
          document.querySelector(`#total_price-${productId}`).innerHTML = `<span class="price-bg">$${data.total_price}</span>`;
          document.querySelector(`#total-${supplierId}`).innerHTML = `<b class="mb-0">$${data.total}</b>`;
          document.querySelector(`#grandTotal`).innerHTML = `<h3 class="mb-0">Total: $${data.grand_total}</h3>`;
          
          cartItemCountSpan.text(data.cart_item_count);
        },
        
        error: function (xhr, status, error) {
          console.error('AJAX Error:', status, error);
        }
      });
    });
  });
  
</script>
<script src="https://js.stripe.com/v3/"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // This code will run after the DOM has fully loaded
    var publicKey = '{{ stripe_publishable_key }}';
    var stripe = Stripe(publicKey);
    var stripeCheckoutButton = document.getElementById('checkout-button');
    var cashCheckoutButton = document.getElementById('cash-checkout-button')

    stripeCheckoutButton.addEventListener('click', function () {
      fetch('/create-checkout-session?type=stripe', {})
        .then(response => response.json())
        .then(session => {
          return stripe.redirectToCheckout({ sessionId: session.session_id });
        })
        .then(result => {
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(error => {
          console.log("Checking catch")
          console.error('Error:', error);
        });
    });

    cashCheckoutButton.addEventListener('click', function () {
      fetch('/create-checkout-session?type=cash', {})
        .then(response => response.json())
        .then(result => {
          if (result.error) {
            alert(result.error);
          }
          else {
            alert("Thank you for your cash order! You must organize payments in cash via GustoMarket directly.")
            host = window.location.protocol + "//" + window.location.host + "/success?type=cash"
            window.location.replace(host)
          }
        })
        .catch(error => {
          console.log("Checking catch")
          console.error('Error:', error);
        });
    });
  });
</script>

{% endblock %}