{% extends "registration_base.html" %}
{% load static %}

{% block title %} GustoMarket {% endblock %}

{% block content %}

<!-- <div class="content-wrapper content-wrapper-bg"> -->

    <div class="sigup-right">
        <div class="get-started-sec flex-center">
          <div class="get-started-inr">

             <div class="get-started-hed text-center">
             <h2>Change Password</h2> 
            </div>
          <div class="com-bold-txt text-center">
              <p>Set a new password in place of your old password.</p> 
          </div>

          <div class="form">
            <form action="{% url 'change_password' %}", method="post">
              {% csrf_token %}
             <div class="forminpt-sec">
                <input type="email" class="form-control" name="email" value="{{email}}" disabled>
                <div class="email-icon">
                  <img src="{% static 'img/email-icon.png' %}" alt="email">   
                </div>
                <!-- <div class="icon-replace">
                  <img class="error-icn" src="{% static 'img/error-icon.png' %}" alt="error">
                  <img class="check-icn" src="{% static 'img/check-icon.png' %}" alt="check">   
                </div> -->
             </div>
             <div class="forminpt-sec">
                <input type="password" class="form-control" name="old_password" id="password" placeholder="Old Password" required>
                                    <div class="pass-icon"><i class="far fa-eye-slash" id="eye"></i></div>
             </div>
             <div class="forminpt-sec">
                <input type="password" class="form-control" name="new_password" id="new_password" placeholder="New Password" required>
                                    <div class="pass-icon"><i class="far fa-eye-slash" id="eye2"></i></div>
             </div>
             <div class="forminpt-sec">
                <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required>
                                    <div class="pass-icon"><i class="far fa-eye-slash" id="eye1"></i></div>
             </div>
             {% for message in messages %}
              <ul class="messages">
                <li style="color: red; font-size: 15px;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
               </ul>
              {% endfor %}
             <div class="disable-btn">
                <button type="submit">Change Password</button> 
             </div>
            </form>   
          </div>

          </div>
        </div>
    </div> 
     <!-- End  ign up right --> 

{% endblock %}
{% block tab %}
{% endblock %}