{% extends "registration_base.html" %}
{% load static %}

{% block title %} GustoMarket {% endblock %}

{% block content %}

<div class="content-wrapper content-wrapper-bg">
  <h1 class="page-title">Upgrade to Pro</h1>

  <!-- start inner body section -->
  <div class="page-content whitebg-remove p-0">
    <!-- start Upgrade to Pro page -->
    <div class="upgrades-inners">

      <!-- start lite and pro section -->
      <div class="card-section lite-pro-bg">
        <div class="lite-pro-section">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
              <div class="litecrd-sec position-relative">
                <div class="tab-heading mrginbtm-same d-flex align-items-center gap-4 prorecomend">
                  <h3>Pro</h3>
                  <p class="mb-0">Recommended</p>
                </div>

                <div class="lite-basic-txt">
                  <b>Pro marketplace tools for your business🔥</b>
                </div>
                <div class="hr-line-small my-4"></div>
                <div class="lite-percent-crd flex-space">
                  <div class="lite-num d-flex gap-4 align-items-center">
                    <h2 class="mb-0">3%</h2>
                    <p class="mb-0">Platform fee of the total <br> monthly income you earn</p>
                  </div>
                  <div class="lite-tooltip">
                    <i class="bi bi-exclamation-circle-fill" data-bs-toggle="tooltip" data-bs-placement="top"
                      data-bs-original-title="Tooltip on top"></i>
                  </div>
                </div>
                <div class="hr-line-small my-4"></div>
                <div class="feature-lists d-flex flex-column">
                  <div class="custom-checkbox"> <label class="custom-check">This is the feature that the user can get
                      <input type="checkbox" checked><span class="checkmark"></span></label></div>
                  <div class="custom-checkbox"> <label class="custom-check">This is the feature that the user can get
                      <input type="checkbox" checked><span class="checkmark"></span></label></div>
                  <div class="custom-checkbox"> <label class="custom-check">This is the feature that the user can get
                      <input type="checkbox" checked><span class="checkmark"></span></label></div>
                  <div class="custom-checkbox"> <label class="custom-check">This is the feature that the user can get
                      <input type="checkbox" checked><span class="checkmark"></span></label></div>
                  <div class="custom-checkbox"> <label class="custom-check">This is the feature that the user can get
                      <input type="checkbox" checked><span class="checkmark"></span></label></div>
                  <div class="custom-checkbox"> <label class="custom-check">This is the feature that the user can get
                      <input type="checkbox"><span class="checkmark"></span></label></div>
                  <div class="custom-checkbox"> <label class="custom-check">This is the feature that the user can get
                      <input type="checkbox"><span class="checkmark"></span></label></div>
                  <div class="custom-checkbox"> <label class="custom-check">This is the feature that the user can get
                      <input type="checkbox"><span class="checkmark"></span></label></div>

                </div>
                <div class="upgrad-btns">
                  <button type="button" class="red-btn">Upgrade now</button>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
              <div class="procrd-sec position-relative">
                <div class="tab-heading mrginbtm-same">
                  <h3>Cost Calculator</h3>
                </div>
                <div class="lite-basic-txt">
                  <b>We believe in a fair deal. Pay only for what you use.</b>
                </div>
                <div class="hr-line-small my-4"></div>
                <div class="lite-percent-crd flex-space">
                  <div class="lite-num d-flex gap-4 align-items-center">
                    <h2 class="mb-0">$2.50</h2>
                    <p class="mb-0">per user / month</p>
                  </div>
                  <div class="lite-tooltip">
                    <i class="bi bi-exclamation-circle-fill" data-bs-toggle="tooltip" data-bs-placement="top"
                      data-bs-original-title="Tooltip on top"></i>
                  </div>
                </div>
                <div class="hr-line-small my-4"></div>
                <div class="feature-months">
                  <div class="feature-moth-list d-flex gap-4">
                    <label class="mb-0">$0.5/month</label>
                    <p class="mb-0">For X of this Feature</p>
                  </div>
                  <div class="feature-moth-list d-flex gap-4">
                    <label class="mb-0">$0.5/month</label>
                    <p class="mb-0">For X of this Feature</p>
                  </div>
                  <div class="feature-moth-list d-flex gap-4">
                    <label class="mb-0">$0.5/month</label>
                    <p class="mb-0">For X of this Feature</p>
                  </div>
                  <div class="feature-moth-list d-flex gap-4">
                    <label class="mb-0">$0.5/month</label>
                    <p class="mb-0">For X of this Feature</p>
                  </div>
                  <div class="feature-moth-list d-flex gap-4">
                    <label class="mb-0">$0.5/month</label>
                    <p class="mb-0">For X of this Feature</p>
                  </div>
                  <div class="feature-moth-list d-flex gap-4">
                    <label class="mb-0">$0.5/month</label>
                    <p class="mb-0">For X of this Feature</p>
                  </div>
                </div>
                <div class="hr-line-small mt-5 mb-4"></div>
                <div class="num-user-active">
                  <label>Number of active users</label>
                  <div class="qty-container d-flex align-items-center gap-5">
                    <button class="qty-btn-minus btn-primary btn-rounded mr-1" type="button"><i
                        class="bi bi-dash-lg"></i></button>
                    <div class="input-group">
                      <span class="input-group-text">Users</span>
                      <input type="text" name="qty" value="0" class="input-qty input-rounded">
                    </div>
                    <button class="qty-btn-plus btn-primary btn-rounded ml-1" type="button"><i
                        class="bi bi-plus-lg"></i></button>
                  </div>
                </div>
                <div class="hr-line-small my-5"></div>
                <div class="totalmnth-sec">
                  <div class="lite-percent-crd flex-space">
                    <div class="lite-num d-flex gap-4 align-items-center">
                      <h2 class="mb-0">$25.00</h2>
                      <p class="mb-0">per user / month</p>
                    </div>
                    <div class="lite-tooltip">
                      <i class="bi bi-exclamation-circle-fill" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-original-title="Tooltip on top"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- start Frequently asked question section -->
      <div class="asked-question-sec">
        <h1 class="page-title my-5">Frequently asked question</h1>
        <div class="card-section">
          <div class="asked-question-tabs">
            <div class="d-flex align-items-start gap-5 asked-question-flx">
              <div class="nav flex-column nav-pills asked-question-nav gap-3" role="tablist"
                aria-orientation="vertical">
                <button class="nav-link active" id="getstarted-tb-tab" data-bs-toggle="pill"
                  data-bs-target="#getstarted-tb" type="button" role="tab">Get started</button>
                <button class="nav-link" id="topicfaq1-tb-tab" data-bs-toggle="pill" data-bs-target="#topicfaq1-tb"
                  type="button" role="tab">Topic for FAQs</button>
                <button class="nav-link" id="topicfaq2-tb-tab" data-bs-toggle="pill" data-bs-target="#topicfaq2-tb"
                  type="button" role="tab">Topic for FAQs</button>
                <button class="nav-link" id="topicfaq3-tb-tab" data-bs-toggle="pill" data-bs-target="#topicfaq3-tb"
                  type="button" role="tab">Topic for FAQs</button>
              </div>
              <div class="tab-content w-100">
                <div class="tab-pane fade show active" id="getstarted-tb" role="tabpanel"
                  aria-labelledby="getstarted-tb-tab">
                  <div class="asked-qus-inner">
                    <div class="accordion" id="accordionExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            How to upgrade to Pro account?
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                              graphic or web designs. The passage is attributed to an unknown typesetter in the 15th
                              century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum
                              for use in a type specimen book.</p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            How to upgrade to Pro account?
                          </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                              graphic or web designs. The passage is attributed to an unknown typesetter in the 15th
                              century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum
                              for use in a type specimen book.</p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            How to upgrade to Pro account?
                          </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                          data-bs-parent="#accordionExample">
                          <div class="accordion-body">
                            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                              graphic or web designs. The passage is attributed to an unknown typesetter in the 15th
                              century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum
                              for use in a type specimen book.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="topicfaq1-tb" role="tabpanel" aria-labelledby="topicfaq1-tb-tab">
                  <div class="asked-qus-inner">
                    <div class="accordion" id="accordionExample1">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne1">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne">
                            How to upgrade to Pro account?
                          </button>
                        </h2>
                        <div id="collapseOne1" class="accordion-collapse collapse show" aria-labelledby="headingOne1"
                          data-bs-parent="#accordionExample1">
                          <div class="accordion-body">
                            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                              graphic or web designs. The passage is attributed to an unknown typesetter in the 15th
                              century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum
                              for use in a type specimen book.</p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo1">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo">
                            How to upgrade to Pro account?
                          </button>
                        </h2>
                        <div id="collapseTwo1" class="accordion-collapse collapse" aria-labelledby="headingTwo1"
                          data-bs-parent="#accordionExample1">
                          <div class="accordion-body">
                            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                              graphic or web designs. The passage is attributed to an unknown typesetter in the 15th
                              century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum
                              for use in a type specimen book.</p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree1">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree">
                            How to upgrade to Pro account?
                          </button>
                        </h2>
                        <div id="collapseThree1" class="accordion-collapse collapse" aria-labelledby="headingThree1"
                          data-bs-parent="#accordionExample1">
                          <div class="accordion-body">
                            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                              graphic or web designs. The passage is attributed to an unknown typesetter in the 15th
                              century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum
                              for use in a type specimen book.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="topicfaq2-tb" role="tabpanel" aria-labelledby="topicfaq2-tb-tab">
                  <div class="asked-qus-inner">
                    <div class="accordion" id="accordionExample2">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne2">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne">
                            How to upgrade to Pro account?
                          </button>
                        </h2>
                        <div id="collapseOne2" class="accordion-collapse collapse show" aria-labelledby="headingOne2"
                          data-bs-parent="#accordionExample2">
                          <div class="accordion-body">
                            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                              graphic or web designs. The passage is attributed to an unknown typesetter in the 15th
                              century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum
                              for use in a type specimen book.</p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo2">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo">
                            How to upgrade to Pro account?
                          </button>
                        </h2>
                        <div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo2"
                          data-bs-parent="#accordionExample2">
                          <div class="accordion-body">
                            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                              graphic or web designs. The passage is attributed to an unknown typesetter in the 15th
                              century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum
                              for use in a type specimen book.</p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree2">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree">
                            How to upgrade to Pro account?
                          </button>
                        </h2>
                        <div id="collapseThree2" class="accordion-collapse collapse" aria-labelledby="headingThree2"
                          data-bs-parent="#accordionExample2">
                          <div class="accordion-body">
                            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                              graphic or web designs. The passage is attributed to an unknown typesetter in the 15th
                              century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum
                              for use in a type specimen book.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="topicfaq3-tb" role="tabpanel" aria-labelledby="topicfaq3-tb-tab">
                  <div class="asked-qus-inner">
                    <div class="accordion" id="accordionExample3">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne3">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne">
                            How to upgrade to Pro account?
                          </button>
                        </h2>
                        <div id="collapseOne3" class="accordion-collapse collapse show" aria-labelledby="headingOne3"
                          data-bs-parent="#accordionExample3">
                          <div class="accordion-body">
                            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                              graphic or web designs. The passage is attributed to an unknown typesetter in the 15th
                              century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum
                              for use in a type specimen book.</p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo3">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo">
                            How to upgrade to Pro account?
                          </button>
                        </h2>
                        <div id="collapseTwo3" class="accordion-collapse collapse" aria-labelledby="headingTwo3"
                          data-bs-parent="#accordionExample3">
                          <div class="accordion-body">
                            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                              graphic or web designs. The passage is attributed to an unknown typesetter in the 15th
                              century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum
                              for use in a type specimen book.</p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree3">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree">
                            How to upgrade to Pro account?
                          </button>
                        </h2>
                        <div id="collapseThree3" class="accordion-collapse collapse" aria-labelledby="headingThree3"
                          data-bs-parent="#accordionExample3">
                          <div class="accordion-body">
                            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                              graphic or web designs. The passage is attributed to an unknown typesetter in the 15th
                              century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum
                              for use in a type specimen book.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- End Dashboard page -->
  </div>
  <!-- End inner body section -->
</div>
{% block tab %}
{% endblock %}
{% endblock %}